:root{
	font-size: 16px;
}
body{
	margin: 0;
	padding: 0;
		font-family: "Roboto";

}
.container{
	display: flex;
	border: 2px solid gray;
	margin: 5vh;
	background:lightGray;
	flex-direction: column;
/*justify-content: space-around;*/
}

.classBtn{
	border: 2px solid gray;
	background:lightBlue;
	color: brown;
	margin: 5vw;
	padding: 2vw;
}
.classBtn: hover ,.classBtn: focus{
	font-family: "Roboto";
	color: blue;
	cursor: pointer;
	text-decoration: none;
}
.big-font{
	text-transform: uppercase;
	font-size: 1.2rem;
}
